<% provide(:title, "Register")%>
<%= render 'layouts/header' %>

<script>
	<% unless @student.nil? %>
		$(document).ready(function(){
			var test = "<% @student['email'] %>";
			
			document.getElementById("student_name").value = "<%= @student['student'] %>";
			document.getElementById("age").value = "<%= @student['age'] %>";
			document.getElementById("parent_name").value = "<%= @student['parent'] %>";
			document.getElementById("email").value = "<%= @student['email'] %>";
			document.getElementById("phone").value = "<%= @student['phone'] %>";
			document.getElementById("city").value = "<%= @student['city'] %>";
			document.getElementById("state").value = "<%= @student['state'] %>";
			document.getElementById("zipcode").value = "<%= @student['zipcode'] %>";
		});
		
	<% end %>
</script>

<div class="hero-unit">
	<h2>Registration</h2>
	<%= render 'layouts/error_message' %>
	<% if @result == 'true'%>
		<div class="alert alert-success center">
	      <p>Registration complete</p>
	    </div>
	<% end %>
	<h6>* required fields</h6>
	<%= form_tag( { :action => 'register_new' }, :multipart => true) do %>
		<table class="table">
			<tr>
				<td>
					<%= label_tag(:student_name, "Student Name *") %>
					<%= text_field_tag(:student_name, nil, :id => "student_name") %>	
					<%= label_tag(:age, "Age *") %>
					<%= text_field_tag(:age, nil, :id => "age") %>				
					<%= label_tag(:parent_name, "Parent Name") %>
					<%= text_field_tag(:parent_name, nil, :id => "parent_name") %>
					<%= label_tag(:email, "Email *") %>
					<%= text_field_tag(:email, nil, :id => "email") %>
					<%= label_tag(:phone, "Phone Number") %>
					<%= text_field_tag(:phone, nil, :id => "phone") %>
					<%= label_tag(:city, "City") %>
					<%= text_field_tag(:city, nil, :id => "city") %>
					<%= label_tag(:state, "State") %>
					<%= text_field_tag(:state, nil, :id => "state") %>
					<%= label_tag(:zipcode, "Zipcode") %>
					<%= text_field_tag(:zipcode, nil, :id => "zipcode") %>
					<%= label_tag("Select class *") %>
				</td>
				<td>
					<%= image_tag("hip-hop-1.png") %>
				</td>
			</tr>
		</table>
		<table class="table">
			<tr>
				<th></th>
				<th>Group</th>
				<th>Session</th>
				<th>Time</th>
				<th>Location</th>
				<th>Instructor</th>
				<th>Fee ($)</th>
				<th>Status</th>
			</tr>
			<% @schedule.each do |sched| %>
				<tr>
					<td>
						<% if @student.nil? %>
							<% if sched.capacity >= sched.students.length %>
								<%= radio_button_tag(:schedule, sched.id, false, disabled: true ) %>
							<% else %>
								<%= radio_button_tag(:schedule, sched.id) %>
							<% end %>
						<% else %>
							<% if sched.id == @student["schedule"].to_i %>
								<%= radio_button_tag(:schedule, sched.id, :checked => true) %>
							<% else %>
								<% if sched.capacity >= sched.students.length %>
									<%= radio_button_tag(:schedule, sched.id, false, disabled: true ) %>
								<% else %>
									<%= radio_button_tag(:schedule, sched.id) %>
								<% end %>
							<% end %>
						<% end %>
					</td>
					<td>
						<%= sched.group %>
					</td>
					<td>
						<%= sched.session %>
					</td>
					<td>
						<%= sched.time %>
					</td>
					<td>
						<%= sched.location %>
					</td>
					<td>
						<%= sched.instructor %>
					</td>
					<td>
						$<%= sched.fee %>
					</td>
					<td>
						<% if sched.capacity == sched.enrolled %>
							Not Available
						<% else %>
							Available
						<% end %>
					</td>
				</tr>
			<% end %>
		</table>
		<%= submit_tag("Register", class: "register btn btn-primary") %>
	<% end%>
</div>