<% provide(:title, "Schedule")%>
<%= render 'layouts/header' %>

<%= stylesheet_link_tag "static_pages/schedule.css" %>

<div class="hero-unit">
	<h1 class="center" id="title">
		Schedule
	</h1>
	<table class="table table-striped table-bordered">
		<tr>
			<th>Group</th>
			<th>Session</th>
			<th>Time</th>
			<th>Location</th>
			<th>Instructor</th>
			<th>Fee ($)</th>
			<th>Status</th>
		</tr>
		<% count = 0 %>
		<% @schedule.each do |sched| %>
			<% if count%2 == 0 %>
				<tr class = "blue-row">
			<% else %>
				<tr class = "light-row">
			<% end %>
				<td>
					<%= sched.group %>
				</td>
				<td>
					<%= sched.session %>
				</td>
				<td>
					<%= sched.time %>
				</td>
				<td>
					<%= sched.location %>
				</td>
				<td>
					<%= sched.instructor %>
				</td>
				<td>
					$<%= sched.fee %>
				</td>
				<td>
					<% if sched.capacity == sched.enrolled %>
						Not available
					<% else %>
						Available
					<% end %>
				</td>
			</tr>
			<% count = count + 1 %>
		<% end %>
	</table>
</div>