<% provide(:title, "Videos")%>
<%= render 'layouts/header' %>

<%= javascript_include_tag "video" %>
<%= stylesheet_link_tag "video" %>
<%= stylesheet_link_tag "static_pages/video.css" %>

<script>
   	$(document).ready(function() {
      $('#video-gallery').roundabout({
      	btnNext: ".next",
      	btnPrev: ".previous"
      });
   });
</script>
<script>
  videojs.options.flash.swf = "<%= asset_path('video-js.swf') %>"
</script>

<div class="center content" >
	<h2 class="title">Videos</h2>
	<ul id="video-gallery">
		<% @video.each do |video| %>
			<li>
				<table class="outer">
					<tr>
						<td class="table-header">	
							<div class="video-title">
								<h6><%= video.title %></h6>
							</div>	
						</td>
					</tr>
					<tr>
						<td>
							<table class="inner">
								<td class="table-body extra">
									<a href="">
										<!--<%= image_tag "arrow-left.png", class: "left-arrow previous" %>-->
										<i class="icon-arrow-left previous"></i>
									</a>
								</td>
								<td class="table-body">
									<a href="#" data-toggle="modal" data-target="#videoModal<%= video.id %>">
										<% if video.url.nil? %>
											<%= image_tag video.clip.url(:large) %>
										<% else %>
											<%= image_tag video.thumbnail, width: "400px", height: "400px" %>
										<% end %>
									</a>
								</td>
								<td class="table-body extra">
									<a href="">
										<!--<%= image_tag "arrow-right.png", class: "right-arrow next" %>-->
										<i class="icon-arrow-right next" ></i>
									</a>
								</td>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<p><%= video.caption %></p>
						</td>
					</tr>
				</table>
<!--				<h6><%= video.title %></h6>
				
					<% if video.url.nil? %>
						<%= image_tag video.clip.url(:large) %>
					<% else %>
						<%= image_tag video.thumbnail, width: "400px", height: "400px" %>
					<% end %>
				<a href="#" data-toggle="modal" data-target="#videoModal<%= video.id %>">
					<p>Watch</p>
				</a>

				<p class="next">Next</p>
				<p><%= video.caption %></p>-->
			</li>
		<% end %>
	</ul>
</div>
<% @video.each do |video| %>
	<div class="modal fade hide" id="videoModal<%= video.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
		<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
	        		<h4 class="modal-title" id="myModalLabel"><%= video.title %></h4>
	      		</div>
	      		<div class="modal-body" 
	      			style="height: 640px; overflow-y: hidden; background: #000;">
	      			<% if video.url.nil? %>
		      			<video id="video_<%= video.id %>"
		      					width = "640px"
		      					height = "400px" 
		      					class="video-js vjs-default-skin"
		      					style="width: 640px; height: 480px; margin-top: -50px;" 
		      					data-setup="{}"
		      					controls preload="auto">
							<source src="<%= video.clip.url(:flv) %>" type="video/mp4" />			

							Your browser does not support the video tag.
						</video>
					<% else %>
						<iframe width="100%" height="100%"
							src="<%= video.url %>">
						</iframe>
					<% end %>
	      		</div>
	      		<div class="modal-footer" >
	      			<h4 style="float: left; color: #fff;"><%= video.caption %></h4>
	        		<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
	      		</div>
	    	</div>
	  	</div>
	</div>
<% end %>

