<% provide(:title, "Videos")%>
<%= render 'layouts/header' %>

<%= javascript_include_tag "video" %>
<%= stylesheet_link_tag "video" %>
<%= stylesheet_link_tag "static_pages/video.css" %>

<script>
   	$(document).ready(function() {
      $('#video-gallery').roundabout();
   });
</script>
<script>
  videojs.options.flash.swf = "<%= asset_path('video-js.swf') %>"
</script>

<div class="center content">
	<h2 class="title">Videos</h2>
	<ul id="video-gallery">
		<% @video.each do |video| %>
			<li>
				<h6><%= video.title %></h6>
				<a href="#" data-toggle="modal" data-target="#videoModal<%= video.id %>">
					<%= image_tag video.clip.url(:large) %>
				</a>
				<p><%= video.caption %></p>
			</li>
		<% end %>
	</ul>	
</div>
<% @video.each do |video| %>
	<div class="modal fade" id="videoModal<%= video.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
		<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
	        		<h4 class="modal-title" id="myModalLabel"><%= video.title %></h4>
	      		</div>
	      		<div class="modal-body" 
	      			style="height: 640px; overflow-y: hidden; background: #000;">
	      			<video id="video_<%= video.id %>"
	      					width = "640px"
	      					height = "400px" 
	      					class="video-js vjs-default-skin"
	      					style="width: 640px; height: 480px; margin-top: -50px;" 
	      					data-setup="{}"
	      					controls preload="auto">
						<source src="<%= video.clip.url(:flv) %>" type="video/mp4" />			

						Your browser does not support the video tag.
					</video>
					<!--<iframe width="100%" height="100%"
						src="http://www.youtube.com/embed/XGSy3_Czz8k">
					</iframe>-->
	      		</div>
	      		<div class="modal-footer" >
	      			<h4 style="float: left; color: #fff;"><%= video.caption %></h4>
	        		<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
	      		</div>
	    	</div>
	  	</div>
	</div>
<% end %>

