<% provide(:title, "Admin Achievements")%>
<%= render 'layouts/admin_header' %>

<script type="text/javascript">
	window.onload = function(){
		$('#content').ckeditor();
	};
	$(document).ready($('#content').ckeditor());
</script>

<div class="center hero-unit">
	<h1>Edit Achievements</h1>
	<p>Find me in app/views/admin/achievements.html.erb</p>
	<div>
		<% if @achievements.nil? %>
			<%= form_tag( { :action => 'achievements_new' }, :multipart => true) do %>
				<textarea id="content" name="content" rows="25"></textarea>
				<%= submit_tag("Create Achievements") %>
			<% end%>
		<% end %>

		
		<% unless @achievements.nil? %>
			<%= form_tag( {:action => 'achievements_edit'}, :multipart => true) do %>
				<textarea id="content" name="content" rows="25"><%= @achievements.body %></textarea><br />
				<%= submit_tag("Update Achievements", class: "btn btn-primary") %>
			<% end %>
		<% end %>
		
		<%= link_to "View page", achievements_path, :target => "_blank", class: "btn btn-success" %>
	</div>
</div>