<% provide(:title, "Admin FAQ")%>
<%= render 'layouts/admin_header' %>

<div class="center hero-unit">
	<h1>Admin#faq</h1>
	<p>Find me in app/views/admin/faq.html.erb</p>
	<p>Use this page to edit company info</p>
	<div>
		<% if @faq.nil? %>
			<%= form_tag( { :action => 'faq_new' }, :multipart => true) do %>
				<textarea id="content" name="content" rows="25"></textarea>
				<%= submit_tag("Create FAQ") %>
			<% end%>
		<% end %>

		
		<% unless @faq.nil? %>
			<%= form_tag( {:action => 'faq_edit'}, :multipart => true) do %>
				<textarea id="content" name="content" rows="25"><%= @faq.body %></textarea>
				<%= submit_tag("Update FAQ") %>
			<% end %>
		<% end %>
		
	</div>
</div>