<% provide(:title, "Admin FAQ")%>
<%= render 'layouts/admin_header' %>

<script type="text/javascript">
	window.onload = function(){
		$('#content').ckeditor();
	};
	$(document).ready($('#content').ckeditor());
</script>

<div class="center hero-unit" data-no-turbolink>
	<h1>Edit FAQ</h1>
	<p>Find me in app/views/admin/faq.html.erb</p>
	<div>
		<% if @faq.nil? %>
			<%= form_tag( { :action => 'faq_new' }, :multipart => true) do %>
				<textarea id="content" name="content" rows="25"></textarea>
				<%= submit_tag("Create FAQ") %>
			<% end%>
		<% end %>

		
		<% unless @faq.nil? %>
			<%= form_tag( {:action => 'faq_edit'}, :multipart => true) do %>
				<textarea id="content" name="content" rows="25"><%= @faq.body %></textarea><br />
				<%= submit_tag("Update FAQ", class: "btn btn-primary") %>
			<% end %>
		<% end %>

		<%= link_to "View page", faq_path, :target => "_blank", class: "btn btn-success" %>
		
	</div>
</div>