<% provide(:title, "Admin")%>
<%= render 'layouts/admin_header' %>

<link rel="stylesheet" type="text/css" href="/assets/admin/home.css.scss">
<script type="text/javascript">
	window.onload = function(){
		$('#content').ckeditor();
	};
	$(document).ready($('#content').ckeditor());
</script>

<div class="center hero-unit">
	<h1>Edit Home</h1>
	<%= render 'layouts/result' %>

	<%= link_to "View Site", root_path, :target => "_blank", class: "btn btn-success btn-lg" %>
	<br /><br />
	
	<div>
		<% if @home.nil? %>
			<%= form_tag( { :action => 'home_new' }, :multipart => true) do %>
				<textarea id="content" name="content" rows="25"></textarea><br />
				<%= submit_tag("Create Home", class: "btn btn-primary") %>
			<% end%>
		<% end %>

		
		<% unless @home.nil? %>
			<%= form_tag( {:action => 'home_edit'}, :multipart => true) do %>
				<textarea id="content" name="content" rows="25"><%= @home.body %></textarea><br />
				<%= submit_tag("Update Home", class: "btn btn-primary") %>
			<% end %>
		<% end %>
		
	</div>
</div>
