<% provide(:title, "Admin")%>
<%= render 'layouts/admin_header' %>

<div class="hero-unit">
	<h1>Admin Home</h1>
	<p>Use this page to manage admin content</p><br />
	
	<%= link_to "View Site", root_path, :target => "_blank", class: "btn btn-primary btn-lg" %>
	<br /><br />
	<ul>
		<li><%= link_to "Company Info", edit_about_path %></li>
		<li><%= link_to "Achievements", edit_achievements_path %></a></li>
		<li><%= link_to "Schedule", edit_schedule_path %></li>
		<li><%= link_to "FAQ", edit_faq_path %></li>
		<li><%= link_to "Photos", edit_photo_path %></li>
		<li><%= link_to "Videos", edit_video_path %></li>
		<li><%= link_to "Students", edit_student_path %></li>
	</ul>
</div>
