<% provide(:title, "Admin Photo")%>
<%= render 'layouts/admin_header' %>

<div class="center hero-unit">
	<h1>Admin#photo</h1>
	<p>Find me in app/views/admin/photo.html.erb</p>
	<p>Use this page to edit company info</p>
	<table class="table">
		<tr>
			<td>
				<%= form_tag({:action => 'photo_new' }, :multipart => true) do %>
					<%= label_tag(:title, "Title") %>
					<%= text_field_tag(:title) %>
					<%= label_tag(:caption, "Caption") %>
					<%= text_field_tag(:caption) %>
					<%= label_tag(:image, "Image") %>
					<%= file_field_tag(:image) %><br /><br />
					<%= submit_tag("Upload Photo", class: "btn btn-primary") %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td>
				<table class="table">
					<tr>
						<th>Image</th>
						<th>Title</th>
						<th>Caption</th>
					</tr>
					<% @photo.each do |photo| %>
						<tr>
							<td>
								<%= image_tag photo.image.url(:thumb) %>
							</td>
							<td>
								<%= image_tag photo.title %>
							</td>
							<td>
								<%= image_tag photo.caption %>
							</td>
						</tr>
					<% end %>
				</table>
			</td>
		</tr>
	</table>
</div>