<%= form_tag({:action => 'student_new'}, :multipart => true) do %>
	<%= label_tag(:student_name, "Student Name") %>
	<%= text_field_tag(:student_name) %>
	<%= label_tag(:parent_name, "Parent Name") %>
	<%= text_field_tag(:parent_name) %>
	<%= label_tag(:age, "Age") %>
	<%= text_field_tag(:age) %>
	<%= label_tag(:email, "Email") %>
	<%= text_field_tag(:email) %>
	<%= label_tag(:phone, "Phone") %>
	<%= text_field_tag(:phone) %>
	<%= label_tag(:city, "City") %>
	<%= text_field_tag(:city) %>
	<%= label_tag(:state, "State") %>
	<%= text_field_tag(:state) %>
	<%= label_tag(:zipcode, "Zipcode") %>
	<%= text_field_tag(:zipcode) %>
	<table class="table">
		<tr>
			<th></th>
			<th>Group</th>
			<th>Session</th>
			<th>Time</th>
			<th>Location</th>
			<th>Instructor</th>
			<th>Fee ($)</th>
			<th>Status</th>
		</tr>
		<% new_student[:schedule].each do |sched| %>
			<tr>
				<td>
					<% if sched.capacity <= sched.enrolled %>
						<%= radio_button_tag(:schedule, sched.id, false, disabled: true ) %>
					<% else %>
						<%= radio_button_tag(:schedule, sched.id) %>
					<% end %>
				</td>
				<td>
					<%= sched.group %>
				</td>
				<td>
					<%= sched.session %>
				</td>
				<td>
					<%= sched.time %>
				</td>
				<td>
					<%= sched.location %>
				</td>
				<td>
					<%= sched.instructor %>
				</td>
				<td>
					$<%= sched.fee %>
				</td>
				<td>
					<% if sched.capacity == sched.enrolled %>
						Not Available
					<% else %>
						Available
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
	<%= submit_tag("Add Student", class: "btn btn-primary") %>
<% end %>