<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to("Admin", admin_path, id: "logo", class: "logo-text") %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home", admin_path %></li>
					<li><%= link_to "Edit Company Info", edit_about_path %></li>
					<li><%= link_to "Edit Achievements", edit_achievements_path %></li>
					<li><%= link_to "Edit Schedule", edit_schedule_path %></li>
					<li><%= link_to "Edit FAQ", edit_faq_path %></li>
					<li><%= link_to "Edit Photos", edit_photo_path %></li>
					<li><%= link_to "Edit Videos", edit_video_path %></li>
					<li><%= link_to "View Students", edit_student_path %></li>
				</ul>
			</nav>
		<div>
	</div>
</header>