<%= link_to(image_tag("logo.png"), root_path, id: "logo") %>
<%= image_tag("slogan.png", id: "slogan") %>
<div class="navbar-fixed-top" >
	<div class="row-fluid">
		<div class="sidebar-nav-fixed" >
			<div class="well">
				<ul class="nav nav-list" >
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Company", about_path %></li>
					<li><%= link_to "Achievements", achievements_path %></li>
					<li><%= link_to "FAQ", faq_path %></li>
					<li><%= link_to "Schedule", schedule_path %></li>
					<li><%= link_to "Register", register_path %></li>
					<li><%= link_to "Photos", photos_path %></li>
					<li><%= link_to "Videos", videos_path %></li>
				</ul>
			</div>
		</div>
	</div>
</div>