
<div class="navbar-fixed-top" >
	<div class="row-fluid">
		<div class="sidebar-nav-fixed" >
			<div class="well">
				<ul class="nav nav-list" >
					<li><strong><%= link_to "Home", root_path %></strong></li>
					<li><strong><%= link_to "Company", about_path %></strong></li>
					<li><strong><%= link_to "Achievements", achievements_path %></strong></li>
					<li><strong><%= link_to "FAQ", faq_path %></strong></li>
					<li><strong><%= link_to "Schedule", schedule_path %></strong></li>
					<li><strong><%= link_to "Register", register_path %></strong></li>
					<li><strong><%= link_to "Photos", photos_path %></strong></li>
					<li><strong><%= link_to "Videos", videos_path %></strong></li>
					<li><strong><%= link_to "Events", events_path %></strong></li>
					<li><strong><%= link_to "Testimonials", testimonials_path %></strong></li>
				</ul>
			</div>
		</div>
	</div>
</div>