<table class="table">
	<tr>
		<th>Group</th>
		<td><%= @sched.group %></td>
	</tr>
	<tr>
		<th>Session</th>
		<td><%= @sched.session %></td>
	</tr>
	<tr>
		<th>Time</th>
		<td><%= @sched.time %></td>
	</tr>
	<tr>
		<th>Location</th>
		<td><%= @sched.location %></td>
	</tr>
	<tr>
		<th>Instructor</th>
		<td><%= @sched.instructor %></td>
	</tr>
	<tr>
		<th>Fee</th>
		<td><%= @sched.fee %></td>
	</tr>
	<tr>
		<th>Capacity</th>
		<td><%= @sched.capacity %></td>
	</tr>
	<tr>
		<th>Enrolled</th>
		<td><%= @sched.enrolled %></td>
	</tr>
</table>